html,
body {
    font-family: 'Open Sans', sans-serif;
    padding: 20px;
}

.content {
    max-width: 900px;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
    color: #02b3e4;
    cursor: pointer;
}

a:hover {
    color: #1f8fc1;
    transition: color ease-in-out 0.2s;
}

.header__title {
    color: #02b3e4;
}

.projects a {
    display: inline-block;
    padding: 5px 15px 5px 0;
}

.projects__item {
    padding: 5px;
}

.projects__type {
    color: #d2d2d2;
}

/*.github {
    width: 100px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    opacity: 0.5;
}

.github:hover {
    opacity: 1;
    transition: all ease-in-out 0.2s;
}*/
